<center><h1><%= @company.name %></h1></center>
<hr />

<table class="table">  
  <% [2017, 2018, 2019, 2020].each do |year| %>
    <tr>
      <td><%= link_to year, monthwise_revenue_figures_company_url(@company.id, year) %></td>
    </tr>
  <% end %>  
</table>