<center><h1>Revenues &amp; Expenses</h1></center>
<hr />

<table class="table">
  <% Company.all.each do |company| %>  
    <tr>
      <td><%= link_to company.name, "/companies/#{company.id}/revenues-n-expenses/year-selection" %></td>
    </tr>
  <% end %>  
</table>