<center><h1>Welcome</h1></center>

<script type="text/javascript">
   function myFunction(value) {
    switch (value) {
        case 0:
            str = "zero";
            break;
        case 1:
            str = "one";
            break;
        default:
            str = "Invalid input";
            break;
    }
    return alert(str);
}

myFunction(4)
</script>